body{
    background-color: #F5F4F6;
    padding: 0;
    position: relative;
}

header{
    background-color: #E6E7E8;
    top:0;
    left: 0;;
    width: 100%;
    position:fixed;
}

#logoMenu{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;  
}

#logoMobile{
    display: none;
}

#menu{
    display: inline;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18pt;
    position: relative;
    left: 60%;
    bottom: 30px;
}

#fazerLogin{
    text-decoration: none;
    color: black;
}

#fazerLogin:hover
{
    color:blue;
}

.botao{
    border-radius: 10px;
    background-color: #0B9DD6;
    color:white;
    height: 40px;
    font-size: 18pt;
    border:none;
}

#botaoMenu
{
    position: relative;
    left: 60px;
}

.botao:hover{
    background-color: #0c6589       ;
}

main{
    position: fixed;
    top:80px
}

#escritosMain{
    display: inline;
    color:black;
}

#escritosMain h1{
    width: 400px;
    position: relative;
    left: 20%;
    top: 200px;
    font-family: Consolas, monaco, monospace;
}

#escritosMain h3{
    width: 400px;
    position: relative;
    left: 20%;
    top: 200px;
    font-family: Bahnschrift;
}

#imagemLateral{
    position: relative;
    left: 80%;
    height: 700px;
    bottom: 160px;
}

#cadastreSe{
    position: relative;
    bottom: 400px;
    right: 670px;
    width: 350px;
}

/*-----------------------------RESPONSIVIDADE---------------------------------*/
@media (max-width: 500px)
{
   #logoMenu{
       display: none;
   } 

   #logoMobile{
       display: inline;
       position: relative;
       left: 5%;
       top:20px;
       margin-bottom: 5%;
   }

   #menu{
       position: relative;
       left:33%;
       bottom: 40px;
   }

   #fazerLogin{
       position: relative;
       right: 18%;
       font-size: 70%;
   }

   #botaoMenu{
       position: relative;
       font-size: 70%;
       height: 30px;
       left: -10%;
   }

   #escritosMain h1{
       position: relative;
       font-size: 200%;
       left: 1%;
       width: 100%;
       top:30px;
   }

   #escritosMain h3{
       font-size: 150%;
       left:1%;
       width: 95%;
       top:20px
   }

   #imagemLateral{
       display: none;
   }

   #cadastreSe{
       position: relative;
       left: 2.5%;
       top:100px;
       height: 70px;
       font-size: 150%;
       width: 90%;
   }
}

