body{
    background-color: #4B4B4D;
}

#botaoVoltar
{
    margin-top: 1%;
    margin-left: 1%;
    width: 1%;
}

#botaoVoltarMobile
{
    display: none;
}

#caixaBranca
{
    background-color: white;
    position: absolute;
    left: 780px;
    top:0;
    height: 100%;
    width: 50%;
    text-align: center;
}

#formularioCadastro
{
    background-color: #373435;
    position: relative;
    width: 60%;
    left: 19%;
    height: 67%;
    border-radius: 40px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.168);
    text-align: center;
}

#titulo
{
    font-family: EngraversGothic BT;
    font-size: 40pt;
    position: relative;
    top: -4%;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 0px;
}

#logoSemNome
{
    position: absolute;
    z-index: -1;
    width: 50%;
    left: 405px;
    top:100px;
}

#saturnoNome
{
    width: 30%;
}

#tituloForm
{
    font-family: tituloForm;
    color: white;
    font-size: 14pt;
    position: relative;
    top:7%;
}

.input{
    display: block;
    width: 70%;
    position: relative;
    left: 14%;
    top: 10%;
    height: 7%;
    margin-bottom: 3%;
    border-radius: 10px;
}

#genero
{
    display: block;
    width: 70%;
    position: relative;
    left: 14%;
    top: 10%;
    height: 7%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.tituloInput
{
    color: #4b4b4dbe;
    position: fixed;
    display: block;
    margin: 0px;
    padding: 0px;
    left: 80%;
    top:59.5%;
    font-size: 60%;
    z-index: 2;
    font-weight: normal;
}

#botao
{
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    top:80%;
    right: 24%;
    width: 50%;
    height: 8%;
    font-size: 15pt;
    border-radius: 10px;
}

/*-----------------------------RESPONSIVIDADE---------------------------------*/
@media (max-width: 400px)
{
    body
    {
        background-color: white;
    }

    #logoSemNome
    {
        display: none;
    }
    
    #botaoVoltar
    {
        display: none;
    }

    #botaoVoltarMobile
    {
        display: inline;
        width: 4%;
        position: relative;
        top: 38px;
        right: 40px;
    }

    #caixaBranca
    {
        position: relative;
        left: 0%;
        width: 100%;
    }
   
    #titulo
    {
        font-size: 200%;
    }

    #saturnoNome
    {
        width: 50%;
        position: absolute;
        top: 35%;
        z-index: 1;
        right: 25%;
    }    

    #formularioCadastro
    {
        top:230px;
        width: 96%;
        left: 2%;
        height: 480px;
    }

    #tituloForm
    {
        display: inline;
        font-size: 150%;
    }

    .input{
        margin-top: 8%;
        width: 87.5%;
        left: 5%;
    }

    #genero
    {
        margin-top: 8%;
        width: 87.5%;
        left: 5%;
    }

    #botao
    {
        width: 90%;
        right: 5%;
        height: 8%;
        top:87%;
    }

    .tituloInput
    {
        display: none;
    }
}

@media (min-width: 401px) and (max-width: 450px)
{
    body
    {
        background-color: white;
    } 

    #logoSemNome
    {
        display: none;
    }
    
    #botaoVoltar
    {
        display: none;
    }

    #botaoVoltarMobile
    {
        display: inline;
        width: 4%;
        position: relative;
        top: 38px;
        right: 40px;
    }

    #caixaBranca
    {
        position: relative;
        left: 0%;
        width: 100%;
    }
   
    #titulo
    {
        font-size: 250%;
    }

    #saturnoNome
    {
        width: 50%;
        position: absolute;
        top: 35%;
        z-index: 1;
        right: 25%;
    }    

    #formularioCadastro
    {
        top:230px;
        width: 96%;
        left: 2%;
        height: 520px;
    }

    #tituloForm
    {
        display: inline;
        font-size: 150%;
    }

    .input{
        margin-top: 8%;
        width: 87.5%;
        left: 5%;
    }

    #genero
    {
        margin-top: 8%;
        width: 87.5%;
        left: 5%;
    }

    #botao
    {
        width: 90%;
        right: 5%;
        height: 8%;
        top:87%;
    }

    .tituloInput
    {
        display: none;
    }
}

@media (min-width: 451px) and (max-width: 500px)
{
    body
    {
        background-color: white;
    }

    #logoSemNome
    {
        display: none;
    }
    
    #botaoVoltar
    {
        display: none;
    }

    #botaoVoltarMobile
    {
        display: inline;
        width: 4%;
        position: relative;
        top: 38px;
        right: 40px;
    }

    #caixaBranca
    {
        position: relative;
        left: 0%;
        width: 100%;
    }
   
    #titulo
    {
        font-size: 250%;
    }

    #saturnoNome
    {
        width: 50%;
        position: absolute;
        top: 35%;
        z-index: 1;
        right: 25%;
    }    

    #formularioCadastro
    {
        top:230px;
        width: 96%;
        left: 2%;
        height: 520px;
    }

    #tituloForm
    {
        display: inline;
        font-size: 150%;
    }

    .input{
        margin-top: 8%;
        width: 87.5%;
        left: 5%;
    }

    #genero
    {
        margin-top: 8%;
        width: 87.5%;
        left: 5%;
    }

    #botao
    {
        width: 90%;
        right: 5%;
        height: 8%;
        top:87%;
    }

    .tituloInput
    {
        display: none;
    }
}