Header
{
    background-color: #373435;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    height: 12%;
}

#logoSemNome
{
    position: fixed;
    width: 7%;
    z-index: 1;
    top: 1%;
    left: 2%;
}

#saturnoBranco
{
    position: fixed;
    z-index: 1;
    width: 20%;
    left: 40%;
    top: 1%;
}


#usuario
{
    position: fixed;
    right: 8%;
}

#usuarioImg
{
    position: fixed;
    width: 3.2%;
    top:2%;
}

#usuarioClick
{
    display: none;
}

#caixaUsuario
{
    position: fixed;
    top: 12.1%;
    right: 6%;
    display: none;
    background-color: white;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.168);
    width: 15%;
    text-align: center;
}

.opcoesUsuario
{
    color: black;
    display: block;
    text-decoration: none;
    font-family: Javanese Text;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
    margin-top: 0;
}

.opcoesUsuario:hover
{
    background-color: #37343585;
    color: white;
}

#botaoMenu
{
    display: none;
}

#listaTarefas
{
    position: fixed;
    display: inline;
    font-family: EngraversGothic BT;
    font-weight: normal;
    font-size: 140%;
    left: 4.5%;
}



#tituloLista
{
    position: fixed;
    font-family: EngraversGothic BT;
    font-weight: normal;
    font-size: 120%;
    border: 1px solid rgba(209, 209, 209, 0.575);
    height: 12.2%;
    width: 100%;
    padding-left: 0%;
    top: 10%;
    background-color: white;
    text-align: center;
}

#inputTarefa
{
    position: fixed;
    top:25%;
    left: 20%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    width: 50%;
    outline: none;
    font-family: Javanese Text;
    font-size: 100%;
}


#calendario
{
    position: fixed;
    top:25%;
    left: 76%;
    width: 2.3%;
    border:none;
    outline: none;
    font-size: 300%;
}

#aparecerData
{
    position: fixed;
    top:27%;
    left: 72%;
    font-family: Javanese Text;
    font-size: 70%;
}

#tarefas
{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
}

.tarefa
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.179);
    padding-top: 1%;
}

.concluidaImg
{
    width: 3%;
    margin-left: 1%;
    display: inline;
    pointer-events: all;
}

#concluida
{
    display: none;
}

.tituloTarefa
{
    display: inline;
    font-family: Javanese Text;   
    margin-left: 2%;
    padding-top: 0;
    font-size: 150%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#calendarioTarefa
{
    width: 1.5%;
    display: inline;
    margin-left: 85%;
    margin-top: 0px;   
}

.atributosTarefa
{
    display: inline;
}


#desaparecer
{
    margin-top: 13%;
    margin-left: 80%;
    background-color: white;
    border: none;
}

/*------------------------ RESPONSIVIDADE ----------------------*/
@media (max-width: 500px)
{
    header
    {
        height: 10%;;
    }

    #logoSemNome
    {
        width: 20%;
        top:2%;
    }

    #saturnoBranco
    {
        display: none;
    }

    #notificacaoImg
    {
        width: 10%;
        left: 45%;
        top:2.5%;
    }

    #caixaNotificacao
    {
        left: 0%;
        top:10%;
        width: 100%;
    }

    #usuarioImg
    {
        width: 12%;
        left: 85%;
        top:2%;
    }

    #caixaUsuario
    {
        left: 0%;
        top:10%;
        width: 100%;
    }



    #menuImg
    {
        width: 7%;
    }

    #listaTarefas
    {
        font-size: 220%;
        left: 18%;
        top:11%;
    }

    #maisImg
    {
        width: 7%;
        left: 90%;
    }

    .lista
    {
        width: 100%;
    }

    .nomeLista
    {
        width: 100%;
        padding-top: 5%;
        font-size: 150%;
    }

    #menuImg2
    {
        width: 7%;
    }

    #tituloLista
    {
        text-align: center;
        margin-top: 2%;
        padding: 0;
    }

    #aparecerData
    {
        top:28%;
        left: 73%;
    }

    #calendario
    {
        font-size: 150%;
        width: 6%;
       top:25.5%;
    }

    #notificacaoTarefaImg
    {
        width: 5%;
        margin-left: 10%;
    }
    
    #notificacaoClicadaImg
    {
        width: 5%;
        margin-left: 10%;
    }

    #tarefas
    {
        margin-top: 60%;
    }

    #concluidaImg
    {
        width: 7%;
        padding-top: 1%;
        left: 10px;
    }
    
    #lixeira
    {
        width: 5%;
        display: inline;
        margin-left: 60%;
    }
}